.card-img-top{
    width: 10em;
    padding: 2em;
}
.noteCard{
    width: 14em;
    margin-top: 25em;
    height: 18em;
  
   
}

.form-control1{
    width: 10em;
}
.container-fluid{
display: flex;
flex-wrap: wrap;
width: 80%;
margin-top: 10em;

}
.bookSize{
    margin-left: 5em;
    font-size: 2em;
    font-weight: 900;
}
.bookSize1{
    margin-left: 17em;
    margin-top: -2em;
}
.card-img-top{
   
    height: 12em;
    width: 11em;
    margin-top: -1em;
    margin-left: 1em;
}
.image{
    background-color:#00000020;
    height: 10em;
    
}
.title{ 
    margin-left: 1em;
}
.author{
    margin-left: 9%;
    margin-top: -1em;
    font-size: small;
}
.quantity{
    margin-left: 9%;
    margin-top: -2px;
    font-size: small;
   
}
.price{
    margin-left: 9%;
    margin-top: -2px;
    font-size: 15px;
    font-weight: bold;
}
.displayadd{
   
    font-size: small;
    color: floralwhite;
    margin-left: 1em;
    margin-top: 1em;
    
   
}
.displayadd1{
    background-color: #A03037;
    color: floralwhite;
 
}

.displayWhishlist{
    margin-left: 8em;
    margin-top: -26px;
}
.displayWhishlist1{
    font-size: small;
    height: 2em;
}