.card-img-top{
    width: 10em;
    padding: 2em;
}
.noteCard{
    width: 14em;
    margin-top: 25em;
    height: 18em;
  
   
}
.DisplayMain{
    margin-top: 4em;
}
.form-control1{
    width: 10em;
}
.container-fluid{
display: flex;
flex-wrap: wrap;
width: 80%;
margin-top: 1em;

}

.noteCard:hover .descClass{
    position: absolute;
    z-index: 3;
    opacity: 2;

}
bookdetails{
    font-weight: bold;
}

.descClass {
    
    
    text-align: start;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: 1px lightgray solid;
    z-index: -3;
    opacity: 0;
    box-shadow: 1px 2px lightgray;
    padding: 10px;
    bottom: 90%;
    left: 20%;
    margin-top: -2em;
    min-height: 30%;
  }
.bookSize{
    margin-left: 5em;
    font-size: 2em;
    font-weight: 900;
}
.bookSize1{
    margin-left: 17em;
    margin-top: -2em;
}
.card-img-top{
   
    height: 12em;
    width: 11em;
    margin-top: -1em;
    margin-left: 1em;
}
.image{
    background-color:#00000020;
    height: 10em;
    
}
.title{ 
    margin-left: 1em;
}
.author{
    margin-left: 9%;
    margin-top: -1em;
    font-size: small;
}
.quantity{
    margin-left: 9%;
    margin-top: -2px;
    font-size: small;
   
}
.price{
    margin-left: 9%;
    margin-top: -2px;
    font-size: 15px;
    font-weight: bold;
}
.displayadd{
   
    font-size: small;
    color: floralwhite;
    margin-left: 1em;
    margin-top: 0.5em;
    
   
}
.displayadd1:hover{
    cursor: pointer;
    background-color: #3371B5;
 
 
}
.displayadd1{
    height: 2.5em;
    background-color: #A03037;
    color: floralwhite;
outline-style: auto;   
 
}
.displayWhishlist1{
    height: 2.3em;
    background-color: #fcf8f8;
    
    color: rgb(12, 8, 1);
outline-style: auto;  
margin-left: 1.5em;
width: 7em;
}
.displayWhishlist1:hover{
  cursor: pointer;
  background-color: #cccfd1;
}

@media all and (min-device-width: 320px) and (max-device-width: 960px) {
 
    .DisplayMain{
        margin-left:6em;
    }
    .container-fluid{
        margin-top: 8em;
    }
    .display{
        height:60em;
    }
    .noteCard{
        width: 50em;

        height: 55em;
      
       
    }
    .card-img-top{
        width: 25em;
        height: 25em;
        margin-top: 5px;
margin-left: 12em;
    }
    .image{
        height: 26em;
    }
.card-title{
font-size: 5em;
    font-size: 3em;
}
.author{
    font-size: 2em;
    margin-top: -10px;
    margin-left: 15px;
}
.quantity{
    font-size: 3em;
    margin-top: 0.5em;
    margin-left: 1em;
}
.price{
    font-size: 3em;
    margin-top: 0.5em;
    margin-left: 20px;
   
}
.displayadd1{
    width: 28em;
    height: 8em;
    margin-top: 1em;
    outline-style: none;
    border: none;
    margin-left: 2em;
 

}
.displayWhishlist1
{
    width: 25em;
    height: 8em;
    margin-top: 3em;

    
}
.displayWhishlist{
    margin-top: -4em;
    margin-left: 22em;
}


  }
  .paginationdisplay{
      margin-top: 4em;
      margin-left: 35em;
  }
  .black{
color: black;
  }

  button{
    outline-style: none;
  }
  