.form-group {
  width: 20em;
}
.signup {
  width: 20em;
  margin-top: 5em;
  margin-left: 40em;
}
.btn1 {
  margin-top: 1em;
  width: 20em;
  height: 2.5em;
  background-color: brown;
}
.or {
  margin-top: 3em;
  margin-left: 4em;
}
.Facebook {
  margin-top: 3em;
  width: 8em;
  height: 2.5em;
}
.Google {
  margin-left: 4em;
  width: 8em;
  height: 2.5em;
}
