.form-group{
    width: 20em;
 

    
}

.adminsignup{
    width: 30em;
    height: 25em;
  margin-top: 5em;
    margin-left: 27em;
    border:2px solid black
}
.btnadmin{
    margin-top: 1em;
    width: 20em;
    height: 2.5em;
    background-color: brown;
}

.admibody{
    margin-top: 4em;
    margin-left: 4.5em;
}
.AdminName{
    margin-top: 1.5em;
    margin-left: 5em;
}