$color :brown;

.form-group {
  width: 20em;
}

.adminsignup {
  width: 30em;
  height: 25em;
  margin-top: 8em;
  margin-left: 27em;
  border: 1px solid black;
  box-shadow: 0 40px 60px 0 rgba(131, 127, 127, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btnadmin {
  margin-top: 1em;
  width: 20em;
  height: 2.5em;
  cursor: pointer;
  background-color: $color;
}

.admibody {
  margin-top: 4em;
  margin-left: 4.5em;
}
.AdminName {
  margin-top: 1.5em;
  margin-left: 5em;
}
