.deletebutton{
    margin-left: 2em;
    width: 4em;
}
.editbutton{
    width: 4em;
    margin-left: 2em;
}
.AddButton{
    margin-top: 2em;
}
.tablemain{
    margin-top: 3em;
}

.addbookm{
    width: 20em;
    height: 4em;
}
.booksfooter{
    margin-top: 3px;
}
.Addbookbutton{
    margin-top: 1em;
    margin-left: 18em;
}
.mainbosy{
    height: 33em;
    width: 30em;
}
.maininput{
    margin-left: 4.7em;
}
.addbooktitile{
    margin-left: 5em;
}
table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}


@media all and (min-device-width: 320px) and (max-device-width: 960px) {
    .tablemain{
      font-size: 2.2em;
      margin-left: -4em;
    }
    .deletebutton{
        margin-left: 2em;
        width: 5em;
        font-size: 20px;
    }
    .editbutton{
        width: 5em;
        font-size: 20px;
        margin-left: 2em;
    }
    .AddButton{
        margin-top: 2em;
        font-size: 17px
    }

}