.deletebutton{
    margin-left: 2em;
    width: 4em;
}
.editbutton{
    width: 4em;
    margin-left: 2em;
}
.AddButton{
    margin-top: 2em;
}
.table{
    margin-top: 3em;
    table-layout: fixed;
    border-collapse: collapse;
}

// .table thead{
// display:block;
// width: 100%;
// overflow: auto;
// height: 100px;
// }
.btnadd1{
    margin-top: 3em;
    color: floralwhite;
    background-color: brown;
    outline-style: auto;
}
.btnadd{
    color: floralwhite;
    background-color: brown;
    outline-style: auto;
}
.addbookm{
    width: 20em;
    height: 5em;

}
.booksfooter{
    margin-top: 3px;
}
.Addbookbutton{
    margin-top: 1em;
    margin-left: 18em;
}
.mainbosy{
    height: 39em;
    width: 30em;
}
.updatemodel{
    margin-top: 0.7em;

}
.maininput{
    margin-left: 4.7em;
}
.addbooktitile{
    margin-left: 5em;
}
table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
.closed{
    margin-top: 35.3em;
    margin-left: 4.8em;
    position: absolute;
}
.booksinputad{
    width: 20em;
    height: 2em;
}

@media all and (min-device-width: 320px) and (max-device-width: 960px) {
    .table{
        position:absolute ;
        margin-left: -2em;
        margin-top: 1em;
       font-size: 3em;
        display:block;
    width: 18em;
    overflow: auto;
    height: 30em;
        border-collapse: collapse;
    }
    .btnadd1{
        margin-top: 6em;
        color: floralwhite;
        font-size: 1em;
        background-color: brown;
        outline-style: auto;
    }
    .deletebutton{
        margin-left: 2em;
        width: 5em;
        font-size: 20px;
    }
    .editbutton{
        width: 5em;
        font-size: 20px;
        margin-left: 2em;
    }
    .AddButton{
        margin-top: 2em;
        font-size: 17px
    }

}