.navbar{
    background: #A03037 0% 0% no-repeat padding-box;
    height: 60px;
}
li{
    list-style: none;
}
a:link, a:visited {
   
    color: white;
    text-decoration: none;
   
  }


.headerIcon{
position: fixed;
left: 164px;
margin-left:-3em;
width: 31px;
height: 24px;
align-items: center;
}
.headerName{

  margin-top: 0.5em;
    text-align: right;
    position: absolute;
    margin-left: 7em;
font: normal normal normal 20px/26px Roboto;

color: hsl(0, 100%, 100%);


}
.headerserach{
    margin-top: 0em;
    position:absolute;
    width: 35em;

    margin-left: 20em;
}
.headerprofile{
    position: fixed;
    margin-left: 63em;
    margin-top: -1.5em;
   
    color: hsl(0, 33%, 96%);
}
.headerprofilename{
    font-size: small;
    margin-top: -0.1em;
    margin-left: -0.4em;
}
.info{
    margin-top: 0em;
    width: 20em;
    margin-left: 60em;
    height: 6px;
}
.headerlogin{
    margin-top: 1em;
}
.Modelsignup{
    position: absolute;
    margin-left:10em;
}
.Modellogin{
    margin-left: 2em;
}
.modal-footer{
    margin-top: 15em;
}
.modal-dialog{
    width: 30em;
    margin-top: 8em;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    border-radius: 15px;
}
// .headeronline{
   

//     margin-top: -33em;
//     width: 22em;
//     height: 25em;
//     margin-left: 6em;
// }
