.card {
  margin-top: 4em;
}
.para {
  margin-left: 32em;
  margin-top: 1em;
}
.p1 {
  margin-left: 2em;
}
.p3 {
  margin-left: 4em;
}
.table12 {
  width: 55em;
  margin-left: 15em;
  margin-top: 3em;
}
.buttonplace {
  cursor: pointer;
  margin-left: 34em;
  margin-top: 3em;
}
.placebutton {
  color: floralwhite;
  background-color: #3371b5;
}
.successfulImage {
  width: 22em;
  margin-top: 1em;
  margin-left: 30em;
}

@media all and (min-device-width: 320px) and (max-device-width: 960px) {

.successfulImage {
  width: 37em;
  margin-top: 13em;
  margin-left: 22em;
}
.p1 {
  margin-left: -4em;
  font-size: 3em;
}
.para{
  width: 40em;
}
.p2{
  font-size: 3em;
  margin-left: -7em;
}
.p3{
  font-size: 3em;
    margin-left: -2em;
}
.table {
  position: absolute;
  margin-left: -2em;
  margin-top: 1em;
  font-size: 3em;
  display: block;
  width: 23em;
  overflow: auto;
  height: 19em;
  border-collapse: collapse
}
.placebutton{
  margin-top: 63em;
    width:31em;
    height: 5em;
    margin-left: -8em;
}
.continueshopping{
  font-size: 2em
}

}