.form-group {
  width: 20em;
  height: 4em;
}
.main {
  width: 15em;
}
.signup {
  width: 10em;
  margin-top: 5em;
  height: 10em;
  margin-left: 40em;
}
.btn1 {
  margin-top: 1em;
  width: 20em;
  height: 2.5em;
}
.error-output {
  font-size: 12px;
  color: rgb(250, 12, 12);
}
input {
  height: 2em;
}
